<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.image_name }}">
        <p>{{ post.image_description }}</p>
    {% endif %}
    <h2>Comments:</h2>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.content }} - {{ comment.user }}</li>
        {% endfor %}
    </ul>
    <h2>Add Comment:</h2>
    <form method="post" action="{% url 'add_comment_to_post' post.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
